body{
    font-family: 'Montserrat', sans-serif;
    /* WHITE */
    background: #FFFFFF;
}

h1,h2,h3,h4,h5,h6, p{
  margin: 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.container{
    width: 944px;
    margin-left: auto;
    margin-right: auto;
}

.link{
    text-decoration: none;
}
/* ------------------------header styles------------------------------ */

.header{
    /* WHITE */
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.link-logo {
    display: flex;
    align-items: center;
    width: 107px;
    height: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.5px;
    /* ORANGE */
    color: #F07F2E;
    gap: 8px;
}

.nav {
    display: flex;
    gap: 40px;
}

.nav-list {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
/* GREY */
    color: #2C2C2C;
}

.nav-link:hover{
    /* ORANGE */
    color: #F07F2E;
}

/* ------------------------section styles------------------------------ */

.section {
}

.section-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    /* GREY */
    color: #2C2C2C;
    margin-bottom: 40px;
    letter-spacing: 0.5px;
}

.cat-list{
    display: flex;
    gap: 40px;
}



